.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: none;
}

.cat-list{
   width:130%; 
   transform:translate(0px); 
   flex-direction:row;
}

.list-vertic-cat{
    width:30%; 
    height:25%; 
    padding:1px;
}

.icon-cat{
    width:100px; 
    height:80px;
    margin-left: 15px;
}

.cat-box{
    background-color: white;
    height:500px; 
    width:100%; 
    overflow-x:auto; 
}

.cat-box-sec{
    background-color: white;
    height:290px; 
    width:100%; 
    overflow-x:auto; 
}

.nav-top{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-start;
}

.recomnd-list{
   width:130%; 
   transform:translate(0px); 
   flex-direction:column;
}

.link-seller-box{
    border-radius: 10px; 
    margin-top: 5px; 
    margin-left: 5px; 
    margin-right: 5px; 
    margin-bottom: 5px;
}

.img-seller-box{
    width:150px; 
    height:170px;
}

.img-seller{
    width:100%; 
    height:100%
}

.list-group-item-border{
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.cat-box-2{
    background-color: white;
    height:180px; 
    width:100%; 
    overflow-x:auto; 
}

.tab-acc-link-menu{
    width: 50%;
    text-align: center;
}

.body-color {
    background-color: #f8f9fa;
}

.arrow-right-margin {
    margin-bottom: 47px;
}

.acc-itembar-1 {
    background-color: #fff;
}

.fs-0{
    font-size: 45pt;
}