{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Product | details</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"> </script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body class="body-color">
	
	<nav class="navbar navbar-dark fixed-top pb-4" style="background-color:#228B22;">
	  <div class="p-2 mt-n3 container-fluid justify-content-start"  >
	    <h5 class="text-light mb-0 h5">ZSnack Shop | </h5>
	    <h6 class="text-light mb-0"> &nbsp;Selamat datang {{user}}</h6>
	  </div>
	</nav>


	  <div class="navbar-light fixed-top"  style="background-color:#32CD32; margin-top:67px;">

			 <ul class="nav nav-tabs justify-content-center" style="border-bottom:0px;" id="myTab" role="tablist">
			 
				  <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn btn-success active" type="button" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_product' %}">
				    <i class="bi bi-inboxes-fill"></i><br>My Product</a>

				  </li>
				  <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn link-dark nav-link" type="button" role="tab" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_promo' %}">
				    <i class="bi bi-gift-fill"></i><br>My Promo</a>
				  </li>
				  <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn link-dark nav-link" type="button" role="tab" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_mng' %}">
				    <i class="bi bi-graph-up"></i><br>Selling</a>
				  </li>
				   <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn link-dark nav-link" type="button" role="tab" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_saldo' %}">
				    <i class="bi bi-wallet2"></i><br>My Saldo</a>
				  </li>
			</ul>
	  </div>

	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#228B22; margin-top:135px; margin-bottom:11px">
	  <div class="container-fluid d-flex justify-content-center">
	        <input class="form-control me-2" style="width:290px" type="search" placeholder="Search" aria-label="Search" id="Search1">
	       
	  <button class="btn btn-outline-light ms-2" type="submit" data-bs-toggle="modal" data-bs-target="#addStuff">
	     <i class="bi bi-plus-lg"></i>
	  </button>
	  </div>
	</nav>

	<!-- Ini dibawah bagian utama -->

	<div class="container justify-content-center" style="margin-top:200px">

	  <div class="card mb-5" >
        <h5 class="card-header bg-info">Informasi</h5>
        <div class="card-body">
          <h5 class="card-title">Petunjuk Pengisian Data Produk Seller</h5>
          <p class="card-text">ZSnack adalah software berbasis website yang menyediakan layanan penjualan makanan daring. Tidak hanya online shop, ZSnack sendiri merupakan usaha pada bidang pangan sendiri yang juga memfasilitasi pengusaha lain untuk memasarkan produknya. Halaman ini adalah halaman depan dari user siswa atau peserta tes. Di bawah ini menu menu yang disediakan untk peserta tes..</p>
        </div>
      </div>

      <div id="cards">
		{% for view in data %}
		
		<div class="card mb-3 mt-2" style="width: 100%;">
		  <div class="row g-0" style="flex-wrap:unset;">
		    <div class="col-md-4" style="width:250px;">
		      <img src="https://f-storage.000webhostapp.com/media/{{ view.3.0 }}" class="img-fluid rounded-start" alt="...">
		    </div>
		    <div class="col-md-8" style="width:40%">
		      <div class="card-body">
		        <h5 class="card-title">{{ view.1 }}</h5>
		        <div class="card-text">{{ view.2 }}</div>
		        <a href="/oAuthSell/detail?id={{ view.0 }}" class="btn btn-primary mt-3">Lihat Detail</a>
		        <a href="/oAuthSell/my_product?del_data={{ view.0 }}" class="btn btn-danger mt-3">Matikan</a>
		      </div>
		    </div>
		  </div>
		</div>
		
		{% endfor %}
		</div>
	</div>

	<!-- Modal Add Stuff seller -->
	{% if access == 'yes' %}
	
	<div class="modal fade" id="addStuff" tabindex="-1" aria-labelledby="addStuff" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Tambah Produk / Add Stuff</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <form method="post" action="" enctype="multipart/form-data">
	      	{% csrf_token %}
		      <div class="modal-body">
		      <div class="mb-3">
				    <label for="name" class="form-label">Nama Produk</label>
				    <input type="text" name="name" required class="form-control" id="name">
				  </div>
		      
				  <div class="mb-3">
				    <label for="desc" class="form-label">Deskripsi</label>
				    <input type="text" name="desc" required class="form-control" id="desc">
				  </div>
				  <div class="mb-3">
				    <label for="img" class="form-label">Foto produk</label>
				    <input type="file" accept="image/*" multiple name="img" required class="form-control" id="img">
				  </div>
				  <div class="mb-3">
				    <label for="stock" class="form-label">Stock Produk</label>
				    <input type="number" name="stock" required class="form-control" id="stock">
				  </div>
				  <div class="mb-3">
				    <label for="price" class="form-label">Harga Satuan</label>
				    <input type="number" name="price" required class="form-control" id="price">
				  </div>
				  <div class="mb-3">
				    <label for="state" class="form-label">Status Produk</label>
				    <div class="form-check">
					  <input class="form-check-input" type="radio" name = "state" id="flexRadioDefault1" value="active" checked>
					  <label class="form-check-label" for="flexRadioDefault1">
					    Aktif / bisa diorder
					  </label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name = "state" id="flexRadioDefault2" value="deactive">
					  <label class="form-check-label" for="flexRadioDefault2">
					    Coming Soon
					  </label>
					</div>
				  </div>
				  <!-- dopdown select dan bagian FK id (relation)-->
				  <div class="mb-3">
				    <label for="cat" class="form-label">Kategori Produk</label>
				    <select id="cat" name="cat" class="form-select" aria-label="Default select example" required>
					  <option value="{{ cat_choice.0.1 }}" selected>No Kategori</option>
					  {% for cat in cat_choice %}
					  	<option value="{{ cat.1 }}">{{ cat.0 }}</option>
					  {% endfor %}
					</select>
				  </div>
				  <div class="mb-3">
				    <label for="promo" class="form-label">Punya Promo ?</label>
				    <select id="promo" name="promo" class="form-select" aria-label="Default select example" required>
					  <option value="{{ promo_choice.0.1 }}" selected>No Promo</option>
					  {% for promo in promo_choice %}
					  	<option value="{{ promo.1 }}">{{ promo.0 }}</option>
					  {% endfor %}
					</select>
				  </div>
				  <div class="mb-3">
				    <label for="loc" class="form-label">Lokasi (Kecamatan)</label>
				    <input type="text" name="location" required class="form-control" id="loc">
				  </div>
				  <div class="mb-3">
				    <label for="ship" class="form-label">Biaya Ongkir</label>
				    <input type="number" name="ship_cost" required class="form-control" id="ship">
				  </div>
				  <div class="mb-3">
				    <label for="note" class="form-label">Catatan</label>
				    <textarea name="note" required class="form-control" id="note"></textarea>
				  </div>
				  <div class="mb-3">
				   <input type="text" name="id_seller" hidden="True" value="{{ user }}">
				  </div>
		      </div>
		      <!-- +++++++++++++++++++++++++++ -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <button type="submit" name="add_stuff" class="btn btn-primary">Simpan</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	{% endif %}
	<!-- ++++++++++++++++++++++++++ -->

<script src="{% static 'script/live_search_main.js' %}"></script>
	<script type="text/javascript">
		document.getElementById('Search1').addEventListener('keyup', function(){
			search('Search1', 'cards');
		});
	</script>

</body>
</html>