{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Product | details</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"> </script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body class="body-color">
	
	<nav class="navbar navbar-dark fixed-top pb-4" style="background-color:#228B22;">
	  <div class="p-2 mt-n3 container-fluid justify-content-start"  >
	    <h5 class="text-light mb-0 h5">ZSnack Shop | </h5>
	    <h6 class="text-light mb-0"> &nbsp;Selamat datang {{user}}</h6>
	  </div>
	</nav>


	  <div class="navbar-light fixed-top"  style="background-color:#32CD32; margin-top:67px;">

			 <ul class="nav nav-tabs justify-content-center" style="border-bottom:0px;" id="myTab" role="tablist">
			 
				  <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn link-dark nav-link" type="button" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_product' %}">
				    <i class="bi bi-inboxes-fill"></i><br>My Product</a>

				  </li>
				  <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn link-dark nav-link" type="button" role="tab" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_promo' %}">
				    <i class="bi bi-gift-fill"></i><br>My Promo</a>
				  </li>
				  <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn btn-success active" type="button" role="tab" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_mng' %}">
				    <i class="bi bi-graph-up"></i><br>Selling</a>
				  </li>
				   <li class="mt-1 nav-item" role="presentation">
				  	<a class="btn link-dark nav-link" type="button" role="tab" aria-controls="home" aria-selected="true" href="{% url 'home_seller:sell_saldo' %}">
				    <i class="bi bi-wallet2"></i><br>My Saldo</a>
				  </li>
			</ul>
	  </div>

	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#228B22; margin-top:135px; margin-bottom:11px">
	  <div class="container-fluid d-flex justify-content-center">
	        <input class="form-control me-2" style="width:290px" type="search" placeholder="Search" aria-label="Search" id="Search1">
	         
	  </div>
	</nav>

	<!-- Ini dibawah bagian utama -->

	<div class="container justify-content-center" style="margin-top:200px">

	  <div class="card mb-5" >
        <h5 class="card-header bg-info">Informasi</h5>
        <div class="card-body">
          <h5 class="card-title">Petunjuk Penggunaan Data Selling</h5>
          <p class="card-text">ZSnack adalah software berbasis website yang menyediakan layanan penjualan makanan daring. Tidak hanya online shop, ZSnack sendiri merupakan usaha pada bidang pangan sendiri yang juga memfasilitasi pengusaha lain untuk memasarkan produknya. Halaman ini adalah halaman depan dari user siswa atau peserta tes. Di bawah ini menu menu yang disediakan untk peserta tes..</p>
        </div>
      </div>

    <div id="cards">

    	{% if len_trx != 0 %}
		
					{% for v in view %}

					{% if v.1|length != 0 %}
					
						<div class="card mt-3" style="width: 100%;">
						 	<div class="alert alert-success">
							  <strong>Transaksi masuk gan !</strong> Segera proses untuk bersiap. Status process artinya agan harus segera kirim produk agan lohh !!!.<br>
							  <strong>Kode transaksi : {{ v.0 }}</strong><br>
							  <strong>Nama pembeli : </strong> {{ v.2.buyer }}<br>
							  <strong>Tanggal transaksi : </strong> {{ v.2.date }}<br>
							  <strong>Harga produk : {{ v.2.pay_value }} Rupiah</strong><br>
							  <strong>Biaya ongkir : {{ v.2.ship_cost }} Rupiah</strong><br>
							  <strong>Alamat pembeli : </strong>{{ v.3.address }}<br>
							  <strong>No WhatsApp : </strong>{{ v.3.phone }}
							</div>
						  <div class="card-body">
						    {% for data in v.1 %}
						    
						    	<div class="card mb-3 mt-2" style="width: 100%;">
									  <div class="row g-0" style="flex-wrap:unset;">
									    <div class="col-md-4" style="width:250px;">
									      <a href="/detail?prd={{ data.0.id }}&post={{ data.1.id }}">
									      	<img src="https://f-storage.000webhostapp.com/media/{{ data.2 }}" class="img-fluid rounded-start" alt="...">
									      </a>
									    </div>
									    <div class="col-md-8" style="width:40%">
									      <div class="card-body">
									        <h5 class="card-title">
										        {{ data.0.name }}
										    </h5>
									        <div class="card-text">Rp.{{ data.0.price }},00</div>
									        <div class="card-text">Jumlah : {{ data.3 }} produk</div>
									      </div>
									    </div>
									  </div>
									</div>

									<div class="d-flex justify-content-end">
											
											<h4 class="text-danger">Status : {{ data.4 }}</h4>

									</div>

						    {% endfor %}
						    <div class="justify-content-end d-flex">
						    	
						    </div>
						  </div>
						</div>

					{% else %}

							<div class="alert alert-success">
							  <strong>Transaksi sudah dibayar !</strong> Silahkan tunggu process nya. Lihat halaman process.<br>
							  <strong>Kode transaksi : {{ v.0 }}</strong>
							</div>

					{% endif %}			

					{% endfor %}

			{% else %}
					<div class="container justify-content-center text-center" style="margin-top:200px;">
						<i class="bi bi-cart-fill text-secondary opacity-25" style="font-size:200pt;"></i>
						<br>
						<h5 class="text-dark mb-5">Belum ada data belanja di pesan.</h5>
						
						<h6 class="text-dark mb-3"> Selamat berbelanja :) !!!.</h6>
					</div>
			{% endif %}

		</div>
	</div>

<script src="{% static 'script/live_search_main.js' %}"></script>
	<script type="text/javascript">
		document.getElementById('Search1').addEventListener('keyup', function(){
			search('Search1', 'cards');
		});
	</script>
	
</body>
</html>